:root {
  --color-infra-text: var(--color-text);
  --color-infra-bg: #622912;
  --color-infra-border-top: #db8866;
  --color-infra-border-bottom: #2e1409;
  --color-box-text: var(--color-text);
  --color-box-bg: #358561;
  --color-box-border-top: #abddc6;
  --color-box-border-bottom: #082a1b;
  --color-stack-text: var(--color-text);
  --color-stack-bg: #1f7e8f;
  --color-stack-border-top: #a9d9e2;
  --color-stack-border-bottom: #0d363d;
  --color-service-text: var(--color-text);
  --color-service-bg: #383f8a;
  --color-service-border-top: #bbbfe3;
  --color-service-border-bottom: #0b0f39;
}

#user-content-secrets~table tbody tr td,
#user-content-volumes~table tbody tr td,
#user-content-networks~table tbody tr td,
#user-content-configs~table tbody tr td {
  vertical-align: text-top;
}

#user-content-secrets~table,
#user-content-volumes~table,
#user-content-networks~table,
#user-content-configs~table {
  width: 100% !important;
  display: inline-table;
}

.val-yes {
  margin: auto;
  background-color: var(--color-green);
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.val-no {
  margin: auto;
  background-color: var(--color-red-light);
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.mounted-to,
.source-file {
  max-width: 280px;
  overflow-wrap: initial;
  overflow-x: auto;
}

#user-content-overview~div.uml {
  text-align: center;
}

#user-content-overview~div.uml pre:first-of-type {
  background: initial;
}

#user-content-name~div {
  font-size: 120% !important;
}

.swarmit-service>hr {
  border-top: 1px solid var(--color-service-border-top);
  background-color: var(--color-service-bg);
  border-bottom: 2px solid var(--color-service-border-bottom);
}

.swarmit-stack>hr {
  border-top: 1px solid var(--color-stack-border-top);
  background-color: var(--color-stack-bg);
  border-bottom: 2px solid var(--color-stack-border-bottom);
}

.swarmit-box>hr {
  border-top: 1px solid var(--color-box-border-top);
  background-color: var(--color-box-bg);
  border-bottom: 2px solid var(--color-box-border-bottom);
}

.swarmit-infra>hr {
  border-top: 1px solid var(--color-infra-border-top);
  background-color: var(--color-infra-bg);
  border-bottom: 2px solid var(--color-infra-border-bottom);
}

.swarmit-service>hr:last-of-type {
  margin-bottom: 2.5rem;
}

.swarmit-stack>hr:last-of-type {
  margin-bottom: 2.5rem;
}

.swarmit-box>hr:last-of-type {
  margin-bottom: 2.5rem;
}

.swarmit-infra>hr:last-of-type {
  margin-bottom: 2.5rem;
}

details+.swarmit-infra:first-of-type>p:first-of-type,
details+.swarmit-box:first-of-type>p:first-of-type,
details+.swarmit-stack:first-of-type>p:first-of-type,
details+.swarmit-service:first-of-type>p:first-of-type {
  font-size: xxx-large;
}




details#user-content-si-info summary::marker {
  color: var(--color-info-text);
}

details#user-content-si-info blockquote {
  margin: 4px;
  padding: 15px;
  color: var(--color-text-light-2);
  border-left: 2px solid var(--color-info-text);
  background: var(--color-info-bg);
}

details#user-content-si-warning summary::marker {
  color: var(--color-warning-text);
}


details#user-content-si-warning blockquote {
  margin: 4px;
  padding: 15px;
  color: var(--color-text-light-2);
  border-left: 2px solid var(--color-warning-text);
  background: var(--color-info-bg);
}

details#user-content-si-explain summary::marker {
  color: var(--color-success-text);
}


details#user-content-si-explain blockquote {
  margin: 4px;
  padding: 15px;
  color: var(--color-text-light-2);
  border-left: 2px solid var(--color-success-text);
  background: var(--color-info-bg);
}

details#user-content-si-warning blockquote:last-child {
  margin-bottom: initial;
}

details#user-content-si-error summary::marker {
  color: var(--color-error-text);
}

details#user-content-si-error blockquote {
  margin: 4px;
  padding: 15px;
  color: var(--color-text-light-2);
  border-left: 2px solid var(--color-red-badge);
  background: var(--color-info-bg);
}

details#user-content-si-error blockquote:last-child {
  margin-bottom: initial;
}

.si-desc img {
  margin-top: auto;
  float: left;
  margin-bottom: auto;
  width: 72px;
  height: 72px;
  margin-right: 2rem;
}

.item .si-desc img {
  margin-top: auto;
  float: left;
  margin-bottom: auto;
  width: 52px;
  height: 52px;
  margin-right: 2rem;
}

.si-desc>h1:first-of-type {
  margin-bottom: 3px;
  font-size: xx-large;
}

.si-desc>p:first-of-type {
  font-size: larger;
  font-style: italic;
}

.si-desc {
  width: 100vw;
}

.state-running {
  padding: 10px;
  border-radius: 13px;
  color: #efefef !important;
  background-color: rgb(57, 142, 57) !important;
}

.state-failed {
  padding: 10px;
  border-radius: 13px;
  color: #efefef !important;
  background-color: rgb(179, 65, 65) !important;
}

.state-shutdown {
  padding: 10px;
  border-radius: 13px;
  color: #000000 !important;
  text-decoration: line-through;
  background-color: rgb(255, 255, 255) !important;
}

.dsummary img {
  width: 48px;
}

.language-bash span {
  text-wrap: nowrap;
}

.mm .code-block {
  padding: 0px !important;
}



.m-leave {
  min-width: 125px;
  padding: 3px 7px;
  border-radius: 8px;
}

.m-infra {
  background: #622912;
  color: #efefef;
}

.m-box {
  background: #358561;
  color: #efefef;
}

.m-stack {
  background: #1f7e8f;
  color: #efefef;
}

.m-svc {
  background: #383f8a;
  color: #efefef;
}

.swarmit.header h1 {
  margin-top: initial !important;
}

.swarmit .card .sub {
  font-weight: 700;
}

.swarmit.ui.card,
.swarmit.ui.cards>.card {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  min-height: 0;
  padding: 0;
  border: none;

  /* z-index: ""; */
  word-wrap: break-word;
}


.swarmit.ui.card.horizontal,
.swarmit.ui.horizontal.cards>.card {
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.swarmit.ui.card>.content,
.swarmit.ui.cards>.card>.content {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 1em;
  box-shadow: none;
  font-size: 1em;
}

.swarmit.ui.horizontal.card>.content,
.swarmit.ui.horizontal.cards>.card>.content {
  border-top: none;
  flex-basis: 1px;
}

.swarmit.ui.card>:first-child,
.swarmit.ui.cards>.card>:first-child {
  border-top: none !important;
}

.swarmit.ui.card>.image>a,
.swarmit.ui.cards>.card>.image>a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 0;
}

.swarmit.ui.card.horizontal>.image>a,
.swarmit.ui.horizontal.cards>.card>.image>a {
  width: 120px;
  min-height: 195px;
  height: 100%;
  background: var(--color-primary);
}

.swarmit.ui.card>.image:after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-image: url("https://logos.tools.core.schlieder.de/logo/custom/swarmit-asset/service?format=svg"); */
  /* background-size: 32px 32px;
  background-position: 8px 8px;
  background-repeat: no-repeat; */
  opacity: 0.5;
}

.swarmit.ui.card>.image>a>img,
.swarmit.ui.cards>.card>.image>a>img {
  display: block;
  width: 96px;
  padding: 12px;
  border-radius: inherit;
  filter: drop-shadow(3px 3px 6px #364626);
}

.swarmit.ui.card>.image:not(.ui)>a>img,
.swarmit.ui.cards>.card>.image:not(.ui)>a>img {
  border: none;
}

.swarmit .ui.repo-description #repo-desc {
  width: 100%;
}


.swarmit #org-info {
  padding: 1em;
}

.repo-description #repo-desc {
  width: 100%;
}

.swarmit img.ui.org-avatar {
  width: 120px !important;
  min-height: 200px;
  border: 1px solid var(--color-secondary);
  margin: auto;
  display: block;
}

#org-info {
  background: var(--color-card);
  padding: 1.5rem !important;
  border: 1px solid var(--color-secondary);
}

#org-info .header {
  font-size: 26px !important;
}

.organization.profile>div,
.organization.profile>img {
  margin-bottom: 1.25rem;
}

.organization.profile .org-avatar {
  width: auto;
  background-color: var(--color-primary);
  padding: 18px;
  height: 120px;
}

.organization .ui.container.gt-df .right.menu {
  display: none !important;
}

.tags {
  padding: 0.5rem 1rem 0rem 1rem !important;
}

.asset.desc {
  font-size: 125%;
}

.published.port {
  justify-content: center;
  display: flex;
  height: 100%;
  border: 1px solid var(--color-secondary);
  align-items: center;
  font-size: 150%
}

.sidesc {
  background: var(--color-card);
  margin: .1rem !important;

}

.sidesc>.column {
  padding: 0px !important;
  border: 1px solid var(--color-secondary);
  border-bottom: 0px;
}

.sidesc .content {
  padding: 1.5rem !important;
}

.sidesc .description {
  width: 100%;
  padding: 1.5rem !important;
  border: 1px solid var(--color-secondary);
}

.sidesc.container {
  margin: 0px !important;
}

.swarmit.cis code {
  font-size: 125% !important;
}

.swarmit.ui>.ui>.ui.cis {
  width: 50%;
  padding: 1.5rem !important;
}

.cis .ui.sub {
  font-weight: bolder;
  margin-bottom: .33rem;
}

.healthcheck {
  text-align: center;
  font-weight: bolder;
  margin-top: 0.75rem;
  padding: .25rem;
}

.healthcheck.true {
  border: 1px solid var(--color-green-badge);
  color: var(--color-green-badge);
}

.healthcheck.false {
  border: 1px solid var(--color-red-badge);
  color: var(--color-red-badge);
}

@media only screen and (max-width: 767.98px) {

  .ui.grid .ui.stackable.grid,
  .ui.segment:not(.vertical) .ui.stackable.page.grid {
    margin-left: initial !important;
    margin-right: initial !important;
  }
}

.ui.description pre {
  overflow-x: auto;
}


.ui.user.list .item img.ui.avatar {
  filter: drop-shadow(2px 2px 2px #00000075);
}

.attr-group-header {
  margin: 0px !important;
  margin-top: 1rem !important;
}

.attr-group {
  margin: 0px !important;
  margin-top: 1rem !important;
  border: 1px solid var(--color-primary);
  max-width: 100% !important;
}

.attr-group hr {
  border: 1px solid var(--color-primary);
  height: initial !important;
  max-width: 100% !important;
}

h1 .attr-icon svg {
  width: 22px;
  height: 22px;
  margin-bottom: 5px
}

h2 .attr-icon svg {
  width: 19px;
  height: 19px;
  margin-bottom: 3px
}

h3 .attr-icon svg {
  width: 16px;
  height: 16px;
  margin-bottom: 2px
}

h4 .attr-icon svg {
  width: 16px;
  height: 16px;
  margin-bottom: 3px
}

.attr-icon svg {
  vertical-align: middle;
}

.swarmit-box summary * {
  color: var(--color-box-border-top);
  font-size: 1.5em !important;
}

.swarmit-stack summary * {
  color: var(--color-stack-border-top);
  font-size: 1.5em !important;
}

.swarmit-service summary * {
  color: var(--color-service-border-top);
  font-size: 1.5em !important;
}

.swarmit-box summary::marker {
  color: var(--color-box-border-top);
  font-size: 1.5em;
}

.swarmit-stack summary::marker {
  color: var(--color-stack-border-top);
  font-size: 1.5em;
}

.swarmit-service summary::marker {
  color: var(--color-service-border-top);
  font-size: 1.5em;
}

.resources {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.resources table tr:first-of-type th {
  color: var(--color-primary);
  text-align: start !important;
  height: 15% !important;
}

.resources table tr:first-of-type th small {
  color: var(--color-text);
}

.resource-table table {
  max-width: initial !important;
  display: table !important;
  width: 50% !important;
}

.resource-table table {
  margin-top: 1rem !important;
}

.resource-table table:last-of-type {
  height: auto;
}

.resource-table table tr th:first-of-type {
  width: 15% !important;
}

.resource-table table tr:first-of-type th {
  height: 15% !important;
}

.resource-table table tr:last-of-type th {
  height: 100% !important;
}

.resource-table table th,
td {
  text-align: left;
  vertical-align: top !important;
}

.resource-table table h3 {
  margin: initial !important;
  min-height: 55px !important;
}

.resource-table table h3>small {
  margin: initial !important;
  min-height: 25px !important;
}

.resource-table.ui.grid {
  margin: initial !important;
}

.markup input[type="checkbox"] {
  /* height: 28px!important; */
  /* width: 28px!important; */
  visibility: hidden;
}

.swarmit.cis,
.attr-group-header {
  margin-bottom: 1rem !important;
}

.ui.swarm {
  padding: 1rem !important;
}


td[align="center"] {
  text-align: center !important;
}
.language-sidesc {
  visibility: hidden;
}

.asset-type {
  padding: 3px;
  color: var(--color-caret);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width:100%;
  height: 30px;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.ribbon {
  position: absolute;
  left: 0;
  top: 0;
}