<script src="https://unpkg.com/fflate@0.8.2"></script>
<script src="https://cdn.jsdelivr.net/npm/fflate@0.8.2/umd/index.js"></script>

<script src="{{"{{AssetUrlPrefix}}"}}/deflate.js"></script>
<script src="{{"{{AssetUrlPrefix}}"}}/encode.js"></script>
<script src="{{"{{AssetUrlPrefix}}"}}/parse.js"></script>
<script>
  parsePlantumlCodeBlocks("${PLANTUML_URL}");
</script>
<script>
  parseCloudgramCodeBlocks("${CLOUDGRAM_URL}/");
</script>
<script>
  parseMermaidCodeBlocks("${MERMAID_URL}/");
</script>
<script>
  parseMarkMapCodeBlocks("${MARKMAP_URL}/");
</script>
<script>
  parseD2CodeBlocks("${D2LANG_URL}/");
</script>
<script>
  parseSIDESCCodeBlocks("${SIDESC_URL}/");
</script>