
tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/local.crt
        keyFile: /certs/local.key
  certificates:
    - certFile: /certs/local.crt
      keyFile: /certs/local.key
      stores:
        - default
http:
  middlewares:
    ingress-errors:
      errors:
        status:
          - "400-599"
        service: error-pages@docker
        query: "/{status}.html"
    forward-auth:
      forwardAuth:
        address: "http://forward-auth:4181"
        authResponseHeaders: "X-Forwarded-User, X-Auth-User, X-Secret, X-Forwarded-Uri"
        trustForwardHeader: true
    forward-adm-auth:
      forwardAuth:
        address: "http://forward-adm-auth:4181"
        authResponseHeaders: "X-Forwarded-User, X-Auth-User, X-Secret, X-Forwarded-Uri"
        trustForwardHeader: true
    intern:
      ipWhiteList:
        sourceRange:
          - 127.0.0.1/32
          - 192.168.1.0/24
    internWithSwarm:
      ipWhiteList:
        sourceRange:
          - 127.0.0.1/32
          - 192.168.1.0/24
          - 172.18.0.1
    corsWild:
      headers:
        accessControlAllowOriginList: "*"
        accessControlMaxAge: 100
        accessControlAllowCredentials: true
        accessControlAllowMethods: "GET,OPTIONS,PUT"    
        addVaryHeader: true          
    corsHeader:
      headers:
        accessControlAllowOriginList: " https://registry.${SWARMIT_INGRESS_BASE_DOMAIN} https://images.${SWARMIT_INGRESS_BASE_DOMAIN} https://logs.${SWARMIT_INGRESS_BASE_DOMAIN} https://proxy.${SWARMIT_INGRESS_BASE_DOMAIN}/dashboard/ https://plantuml.${SWARMIT_INGRESS_BASE_DOMAIN} https://mermaid.${SWARMIT_INGRESS_BASE_DOMAIN} https://git.${SWARMIT_INGRESS_BASE_DOMAIN}"
        accessControlMaxAge: 100
        accessControlAllowCredentials: true
        accessControlAllowMethods: "GET,OPTIONS,PUT"    
        addVaryHeader: true
    frameHeader:
      headers:
        contentSecurityPolicy: "frame-ancestors https://sandbox-office.int.comstack.de https://git.${SWARMIT_INGRESS_BASE_DOMAIN}"
    forward-auth-svc:
      headers:
        SSLRedirect: true
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSSeconds: 315360000
        STSIncludeSubdomains: true
        STSPreload: true
        frameDeny: true
    forward-adm-auth-svc:
      headers:
        SSLRedirect: true
        browserXSSFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        STSSeconds: 315360000
        STSIncludeSubdomains: true
        STSPreload: true
        frameDeny: true
    forward-proxy-headers:
      headers:
        addVaryHeader: true
        sslProxyHeaders:
          X-Forwarded-Proto: "https"
          X-Scheme: "https"
    middleware-cross-origin:
      headers:
        customResponseHeaders:
          Cross-Origin-Resource-Policy: "cross-origin"
          Cross-Origin-Embedder-Policy: "require-corp"